<div class="container theme-dark">


    <div class="d-flex justify-content-between align-items-center px-3 py-2">
        <div class="flex-grow-1 text-center mt-1 position-relative">
            <h3 style="margin-top: 3px; height: 30px;">游戏列表</h3>
        </div>
    </div>

    <ul class="list-group list-group-flush" >
        <li class="list-group-item edition-list" (click)="onGameClick()">
            <div style="font-size: 16px;">0.5 XJL 2025.4.19 - 11人</div>
            <div class="edition-list-description">版本: 预女猎手11人标准版</div>
            <div class="edition-list-description">时间: 2025-04-20 21:10</div>
            <div class="edition-list-description">状态: 进行中  5/11</div>
            <div class="edition-list-description mt-3">平民X3 预言家X1 女巫X1 猎人X1 丘比特X1</div>
            <div class="edition-list-description">狼人X3 狼王X1 噩梦之影X1</div>
            <div class="edition-list-description">炸弹人X1</div>
        </li>

        <li class="list-group-item edition-list" (click)="onGameClick()">
            <div style="font-size: 16px;">0.5 XJL 2025.4.19 - 11人</div>
            <div class="edition-list-description">版本: 预女猎手11人标准版</div>
            <div class="edition-list-description">时间: 2025-04-20 21:10</div>
            <div class="edition-list-description">状态: 进行中  5/11</div>
            <div class="edition-list-description mt-3">平民X3 预言家X1 女巫X1 猎人X1 丘比特X1</div>
            <div class="edition-list-description">狼人X3 狼王X1 噩梦之影X1</div>
            <div class="edition-list-description">炸弹人X1</div>
        </li>

        <li class="list-group-item edition-list" (click)="onGameClick()">
            <div style="font-size: 16px;">0.5 XJL 2025.4.19 - 11人</div>
            <div class="edition-list-description">版本: 预女猎手11人标准版</div>
            <div class="edition-list-description">时间: 2025-04-20 21:10</div>
            <div class="edition-list-description">状态: 进行中  5/11</div>
            <div class="edition-list-description mt-3">平民X3 预言家X1 女巫X1 猎人X1 丘比特X1</div>
            <div class="edition-list-description">狼人X3 狼王X1 噩梦之影X1</div>
            <div class="edition-list-description">炸弹人X1</div>
        </li>

    </ul>

    <!-- 保存，返回按钮 -->
    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <button class="btn btn-primary" style="width: 150px;" (click)="back()">返回</button>
        </div>
    </div>

</div>
