<!-- use bootstrap to create a responsive layout -->
<div class="container theme-dark">
  <div class="row">
    <div class="col-md-12 text-center mt-5 mb-5">
      <h1>圣梁狼人杀助手</h1>
      <p>0.5 XJL 2025.4.19</p>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-md-12">
        <button type="button" [routerLink]="['/create-game']" class="btn btn-outline-light home-button">开始新游戏</button>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-md-12">
        <button type="button" [routerLink]="['/game-list']" class="btn btn-outline-light home-button">游戏列表</button>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-md-12">
        <button type="button" [routerLink]="['/edition-list']"  class="btn btn-outline-light home-button">版本设置</button>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-light home-button">游戏说明</button>
    </div>
  </div>

  <div class="row text-center mb-5">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-light home-button">关于</button>
    </div>
  </div>

